.github{
    text-decoration: none;
    color: white;
    background-color: $sitePurple;
   
}

.fa-github{
    width: 40px;
    text-align: center;
    
}

.banner-fa{
    background-color: white ;
    color: $sitePurple;
    
}