

.name{
    @include flexCenter;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: $sitePurple;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 1vh;
}

.name h1{
    height: auto;
    text-align: center;
    font-size: clamp(0.7em,6vw,2.2em);
}

.name h3{
    height: auto;
    text-align: center;
    font-size: clamp(0.6em,5vw,2em);
}

.name p{
    width: 40%;
    min-width: 280px;
    height: auto;
    text-align: center;
    font-weight: 600;
    font-size: clamp(0.6rem,1vw,1.7rem);
    margin-top: 1vh;
}

.name h4{
    height: 30px;
    text-align: center;
    font-size: clamp(0.5em,4vw,1.4em);
    margin-bottom: 1vh;
}


.name ul{
    list-style-type:circle;
    font-weight: 600;
    font-size: clamp(0.3em,0.7em,1.7em);
}


