.portfolio-grid{
    width: 80%;
    margin: 0px auto;
    margin-bottom: 30px;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border: 2px solid $sitePurple;
    border-top: none;
    padding: 40px;
   
}

.portfolio-grid p,.portfolio-grid h2{
    text-align: center;
}


.portfolio-grid .box{
    width: 40%;
    min-width: 150px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid $sitePurple;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.8s;
    font-size: 1rem;
    color: $sitePurple;
    
}

.box:hover{
    background-color: $sitePurple;
    color: white;
    a{
        color: white;
        border: 2px solid white;
    }
}

.box a{
    color: $sitePurple;
    text-decoration: none;
    border: 2px solid $sitePurple;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    @include flexCenter();
    transition: 0.3s ease-out;
    
}

.box a:hover,.box a:focus{
    width: 100px;
    i{
        margin-left: 8px;
    }
}


.fa-angle-right{
    margin-left: 2px;
}




