*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Titillium Web', sans-serif;
}





/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap');

/*variables*/
$sitePurple: purple;
$footerHeight: 100px;
$headerHeight: 70px;

/*mixins*/

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import './header';
@import './name';
@import './social-banner';
@import './portfolio-grid';
@import './footer';


@import './contact';

@import './github';




.home-main{
    min-height: 100vh;
}